<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Article-1</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

	 
	</div>
	 <ul nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item" bgcolor="dark">
    <a class="nav-link active" aria-current="page" th:href="@{/union}">Home</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </li>
  
   
</ul>

 <h4>Article 3, Draft Constitution, 1948</h4>
<p>
Parliament may by law-
<br>
(a) Form a new State by separation of territory from a State or by uniting two or more States or parts of States;
<br>
(b) Increase the area of any State;
<br>
(c) Diminish the area of any State;
<br>
(d) Alter the boundaries of any State;
<br>
(e) Alter the name of any State:
<br>
<br>
Provided that no Bill for the purpose shall be introduced in either House of Parliament except by the Government of India and unless
<br>
(a) Either-
<br>
(i) A representation in that behalf has been made to the President by a majority of the representatives of the territory in the Legislature of the State from which the territory is to be separated or excluded; or
<br>
(ii) A resolution in that behalf has been passed by the Legislature of any State whose boundaries or name will be affected by the proposal to be contained in the Bill; and
<br>
(b) Where the proposal contained in the Bill affects the boundaries or name of any State, other than a State for the time being specified in Part III of the First Schedule, the views of the Legislature of the State both with respect to the proposal to introduce the Bill and with respect to the provisions thereof have been ascertained by the President; and where such proposal affects the boundaries or name of any State for the time being specified in Part III of the First Schedule, the previous consent of the State to the proposal has been obtained.
<br>
<br>
Article 3 (Draft Article 3)  was debated on 17th November 1948, 18th November 1948 and 13th October 1949. 
It empowered the Parliament to make law relating to the formation of new states and alteration of existing states.
<br>
One member strongly believed that the proposal to alter an existing State must originate from the concerned State Legislature and not the parliament. 
The State Legislature and the people residing in a State must be consulted and involved in this decision. 
He further argued that a democratic regime must consult stakeholders of a decision and not merely impose top-down orders. 
The Draft Article in its current form compromised federalism and placed unnecessary and excessive power at the Centre.
<br>
<br>
Not all were convinced by this proposal. Another member noted that this proposal would stifle minority demands for separate states as it would be impossible to get a State to support its own separation. 
The Chairman of the Drafting Committee found this proposal unnecessary in light of an amendment moved by him. 
Through the amendment, he sought to include a clause requiring the President to consult with the concerned states prior to passing any law under this Article.
<br>
<br>
The Assembly adopted Draft Article 3 with amendments as moved by the Drafting Committee.
</p>
 


</body>
</html>