<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Article-1</title>
	 
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

	 
	</div>
	 <ul nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item" bgcolor="dark">
    <a class="nav-link active" aria-current="page" th:href="@{/union}">Home</a>
  </li>
 
  <li class="nav-item"  >
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </li>
  
   
</ul>

 
 <h4 >Article 1, Draft Constitution, 1948</h4>
<p >
(1) India shall be a Union of States.
<br>
(2) The States shall mean the States for the time being specified in Parts I, II and III of the First Schedule.
<br>
(3) The territory of India shall comprise-
<br>
(a) The territories of the States;
<br>
(b) The territories for the time being specified in Part IV of the First Schedule; and
<br>
(c) Such other territories as may be acquired.
<br>
Draft Article 1 (Article 1) was debated on 15th and 17th November 1948, and 17th and 18th September 1949. It defines the name and territory of India.
<br>
 <br>
A member of the Drafting Committee clarified the object of using the term-Union of States: it was to make it explicit that India was a federation of states. The federation was an indestructible unit and not a result of an agreement between states.
<br>
<br>
Another member proposed to add Secular, Federal, Socialist to Union of States. He argued that, as the Preamble of the Constitution was not yet adopted, Draft Article 1 should embody ‘aspirations’ that the Constitution seeks to achieve.  The Chairman of the Drafting Committee opposed this amendment. He noted that the social and economic policy decisions were to be taken by elected parliamentarians. To encode the form of society would destroy democracy altogether. He further pointed out several Directive Principles of the State Policy including the right to livelihood, redistribution of material resources and equal pay for equal work were socialistic. There was no need to include socialist in Draft Article 1.
<br>
 <br>
Some members suggested alternative names to India. One wanted Bharat or Hind to gain more prominence and to be placed before India. Another suggested Union of Indian Socialistic republics U. I. S. R. on the lines of the U. S. S. R.
<br>
 <br>
When all the proposals were put to vote, they were negatived. The Assembly adopted Draft Article 1 on 18th September 1949.
</p>

 


</body>
</html>