<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Article-1</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

	 
	</div>
	 <ul nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item" bgcolor="dark">
    <a class="nav-link active" aria-current="page" th:href="@{/citizenship}">Home</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </li>
  
   
</ul>

 
 <h4>Article 6, Draft Constitution, 1948</h4>
<p>
Draft Article 5A (Article 6)  was debated on 10th August 1949, 11th August 1949 and 12th August 1949. 
It was not included in the Draft Constitution, 1948.  
A member proposed the insertion of the following as Draft Article 5A:
<br>
'Notwithstanding anything contained in article 5 of this Constitution, a person who has migrated to the territory of India from the territory now included in Pakistan shall be deemed to be a citizen of India at the date of commencement of this Constitution if-
<br>
(a) he or either of his parents or any of his grand-parents was born in India as defined in the Government of India Act, 1935 (as originally enacted); and
<br>
(b)     (i) in the case where such person has so migrated before the nineteenth day of July 1948, he has ordinarily resided within the territory of India since the date of his migration; and
<br>
        (ii) in the case where such person has so migrated on or after the nineteenth day of July 1948 he has been registered as a citizen of India by an officer appointed in this behalf by the Government of the Dominion of India on an application made by him therefore to such officer before the date of commencement of this Constitution in the form prescribed for the purpose by that Government'.
<br>
<br>           
This article laid  down principles of citizenship with regards to persons who migrated from Pakistan to India during partition.
<br>
<br>
Some members proposed to add on account of Civil disturbance or the fear of such disturbances in the first clause. 
It was argued that the inclusion of this phrase would articulate and make explicit the real intention behind this provision which was to facilitate migration from Pakistan in the wake of civil disturbance or fear of it.
<br>
Another member wanted make it compulsory to provide evidence to prove right by descent and intention to permanently reside in India.
He argued that Indian citizenship must be regarded as a matter of great privilege, and not a cheap or easy affair.
<br>
<br> 
The members of the Drafting Committee reminded the Assembly that this Article sought to settle basic principles of citizenship and did not aim to establish a ‘code of nationality law’.  
One member went on to say that compared to the Indian constitution, no other constitution even made an attempt to comprehensively deal with various aspects of nationality law.
<br>
<br>
<br>
Towards the end of the debate, some members voluntarily withdrew their amendments, while other amendments were rejected. 
The Assembly adopted Draft Article 5A on 12th August 1949.
</p>


</body>
</html>