<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Article-1</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

	 
	</div>
	 <ul nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item" bgcolor="dark">
    <a class="nav-link active" aria-current="page" th:href="@{/citizenship}">Home</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </li>
  
   
</ul>

 
 <h4>Article 7, Draft Constitution, 1948</h4>
<p>
Draft Article 5AA (Article 7) was debated on 10th August 1949, 11th August 1949 and 12th August 1949. 
The Chairman of the Drafting Committee proposed the insertion of the following as Draft Article 5AA:
<br>
Notwithstanding anything contained in articles 5 and 5-A of this Constitution a person who has after the first day of March 1947, migrated from the territory of India to the territory now included in Pakistan shall not be deemed to be a citizen of India :
<br>
Provided that nothing in this article shall apply to a person who, after having so migrated to the territory now included in Pakistan has returned to the territory of India under a permit for resettlement or permanent return issued by or under the authority of any law and every such person shall for the purposes of clause (b) of article 5-A of this Constitution be deemed to have migrated to the territory of India after the nineteenth day of July 1948.
<br>
<br>
The Draft Article regulated citizenship claims of persons who have migrated to Pakistan.
<br>
<br>
Some members thought that this article was obnoxious because once persons migrate from India to Pakistan they would have transferred their loyalty to another country. 
The permit system treats these persons favourably and makes it easier to obtain Indian citizenship. 
Instead, it was argued that migrants from Pakistan should be treated like other foreigners and they could acquire citizenship from naturalization. 
However, others responded to this argument by pointing out that permits would not be issued in a lackadaisical manner. 
Further, the members of the Drafting Committee reminded the Assembly that the Indian government had promised rehabilitation and resettlement measures for migrants from Pakistan and put in place a permit system for citizenship claims. 
Going back on these words would be invidious and cause grossest injustice.
<br>
 <br>
One member argued that the property left behind by migrants was treated as evacuee property under the law. 
Upon a person’s return and subsequent acquisition of Indian citizenship, how would their property claims be settled? A member from the Drafting Committee clarified that there was no relationship between citizenship and property rights either in international or domestic law.
<br>
<br>
<br>
The Assembly adopted this article without any amendments on 12 August 1949.
</p>

</body>
</html>