<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Citizenship</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

	 
	</div>
	 <ul nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item" bgcolor="dark">
    <a class="nav-link active" aria-current="page" th:href="@{/home1}">Home</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </li>
  
   
</ul>

<h2 align='center'>Elections</h2> 
<h3>The main articles present in this module are:</h3>
  
 
</div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Article 5(Citizenship at the commencement of the Constitution).
      </button>
    </h2>
    <div id="collapseTwo" style="color:DodgerBlue;" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
       <h4>Article 5, Draft Constitution, 1948</h4>
<p>
 At the date of commencement of this Constitution-
<br>
(a) Every person who or either of whose parents or any of whose grandparents was born in the territory of India as defined in this Constitution and who has not made his permanent abode in any foreign State after the first day of April, 1947; and
(b) Every person who or either of whose parents or any of whose grandparents was born in India as defined in the Government of India Act, 1935 (as originally enacted), or in Burma, Ceylon or Malaya, and who has his domicile in the territory of India as defined in this Constitution, shall be a citizen of India, provided that he has not acquired the citizenship of any foreign State before the date of commencement of this Constitution.
<br>
Explanation.- For the purposes of clause (b) of this article, a person shall be deemed to have his domicile in the territory of India.
<br>
<br>
<br>
Draft Article 5 (Article 5) laid down basic principles of citizenship. 
The Assembly discussed this Draft Article on 10th August 1949, 11th August 1949 and 12th August 1949.
<br>
<br>
Some members sought to include a residuary provision for citizenship based on religion.  
They argued that every Hindu or Sikh who is not a citizen of any other state, irrespective of their residence should be entitled for Indian citizenship. 
In rebuttal, one member strongly urged against hyphenating religion and citizenship. 
He argued that rules must be informed by justice and equity and not on extraneous conditions.
<br>
<br>
<br>
Another member was keen on the draft article accommodating dual citizenship. 
He added that this privilege must be extended to countries on the principle of reciprocity.
<br>
<br>
<br>
One member believed that this Draft Article made Indian citizenship cheap. 
In response, it was pointed out that this Draft Article was stricter than the American law on citizenship.
<br>
<br>
Few members voluntarily withdrew their amendments, while other amendments which were put to vote were negatived. 
The Constituent Assembly adopted Draft Article 5 as introduced by the Drafting Committee on 12th August 1949.
</p>
 
       
      </strong>
      
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Article 6
      </button>
    </h2>
    <div id="collapseThree" style="color:DarkCyan;" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
       <p>
Draft Article 5A (Article 6)  was debated on 10th August 1949, 11th August 1949 and 12th August 1949. 
It was not included in the Draft Constitution, 1948.  
A member proposed the insertion of the following as Draft Article 5A:
<br>
'Notwithstanding anything contained in article 5 of this Constitution, a person who has migrated to the territory of India from the territory now included in Pakistan shall be deemed to be a citizen of India at the date of commencement of this Constitution if-
<br>
(a) he or either of his parents or any of his grand-parents was born in India as defined in the Government of India Act, 1935 (as originally enacted); and
<br>
(b)     (i) in the case where such person has so migrated before the nineteenth day of July 1948, he has ordinarily resided within the territory of India since the date of his migration; and
<br>
        (ii) in the case where such person has so migrated on or after the nineteenth day of July 1948 he has been registered as a citizen of India by an officer appointed in this behalf by the Government of the Dominion of India on an application made by him therefore to such officer before the date of commencement of this Constitution in the form prescribed for the purpose by that Government'.
<br>
<br>           
This article laid  down principles of citizenship with regards to persons who migrated from Pakistan to India during partition.
<br>
<br>
Some members proposed to add on account of Civil disturbance or the fear of such disturbances in the first clause. 
It was argued that the inclusion of this phrase would articulate and make explicit the real intention behind this provision which was to facilitate migration from Pakistan in the wake of civil disturbance or fear of it.
<br>
Another member wanted make it compulsory to provide evidence to prove right by descent and intention to permanently reside in India.
He argued that Indian citizenship must be regarded as a matter of great privilege, and not a cheap or easy affair.
<br>
<br> 
The members of the Drafting Committee reminded the Assembly that this Article sought to settle basic principles of citizenship and did not aim to establish a ‘code of nationality law’.  
One member went on to say that compared to the Indian constitution, no other constitution even made an attempt to comprehensively deal with various aspects of nationality law.
<br>
<br>
<br>
Towards the end of the debate, some members voluntarily withdrew their amendments, while other amendments were rejected. 
The Assembly adopted Draft Article 5A on 12th August 1949.
</p>
       
      </strong>
      
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Article 7(Rights of citizenship of certain migrants to Pakistan)
      </button>
    </h2>
    <div id="collapseFour" style="color:DeepSkyBlue;" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
  <p>
Draft Article 5AA (Article 7) was debated on 10th August 1949, 11th August 1949 and 12th August 1949. 
The Chairman of the Drafting Committee proposed the insertion of the following as Draft Article 5AA:
<br>
Notwithstanding anything contained in articles 5 and 5-A of this Constitution a person who has after the first day of March 1947, migrated from the territory of India to the territory now included in Pakistan shall not be deemed to be a citizen of India :
<br>
Provided that nothing in this article shall apply to a person who, after having so migrated to the territory now included in Pakistan has returned to the territory of India under a permit for resettlement or permanent return issued by or under the authority of any law and every such person shall for the purposes of clause (b) of article 5-A of this Constitution be deemed to have migrated to the territory of India after the nineteenth day of July 1948.
<br>
<br>
The Draft Article regulated citizenship claims of persons who have migrated to Pakistan.
<br>
<br>
Some members thought that this article was obnoxious because once persons migrate from India to Pakistan they would have transferred their loyalty to another country. 
The permit system treats these persons favourably and makes it easier to obtain Indian citizenship. 
Instead, it was argued that migrants from Pakistan should be treated like other foreigners and they could acquire citizenship from naturalization. 
However, others responded to this argument by pointing out that permits would not be issued in a lackadaisical manner. 
Further, the members of the Drafting Committee reminded the Assembly that the Indian government had promised rehabilitation and resettlement measures for migrants from Pakistan and put in place a permit system for citizenship claims. 
Going back on these words would be invidious and cause grossest injustice.
<br>
 <br>
One member argued that the property left behind by migrants was treated as evacuee property under the law. 
Upon a person’s return and subsequent acquisition of Indian citizenship, how would their property claims be settled? A member from the Drafting Committee clarified that there was no relationship between citizenship and property rights either in international or domestic law.
<br>
<br>
<br>
The Assembly adopted this article without any amendments on 12 August 1949.
</p>
      </strong>
      
     
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      Article 8(Rights of citizenship of certain persons of Indian origin residing outside India)
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" style="color:Tomato;" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
        <p>
Draft Article 5B (Article 8) was debated on 10th August 1949, 11th August 1949 and 12th August 1949. 
It was not initially included in the Draft Constitution, 1948. 
Instead, the Chairman of the Drafting Committee proposed the insertion of the following as Draft Article 5B:
<br>
'Notwithstanding anything contained in article 5 and 5-A of this Constitution, any person who or either of whose parents or many of whose grandparents was born in India as defined in the Government of India Act, 1935 (as originally enacted) and who is ordinarily residing in any territory outside India as so defined shall be deemed to be a citizen of India if he has been registered as a citizen of India by the diplomatic or consular representative of India in the country where he is for the time being residing on an application made by him therefor to such diplomatic or consular representative, whether before or after the commencement of this Constitution, in the form, prescribed for the purpose buy the Government of the Dominion of India or the Government of India.'
<br>
<br>
It regulated citizenship rights of Indian origin persons residing outside India. 
<br>
<br> 
A member believed that the article provided unfair special treatment to Indians abroad who are seeking Indian citizenship: as it allows for application and registration even after the commencement of the Constitution. 
However, the previous article, which grants citizenship to persons who have migrated from Pakistan, did not receive a similar prospective application.
<br>
<br>
<br>
The Assembly adopted the Article without amendments on 12 August 1949.
</p>
        
         
</strong>
      </div>
    </div>
  </div>
</div>
 
 
 
 
</body>
</html>