<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />


    <!-- Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.min.css
">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/css/styles1.css" />

    <title>WEB-CONSITUTION-HOME</title>
</head>

<body>

    <!-- Header -->
    <header id="header" class="header">
        <div class="navigation">
            <div class="container">
                <nav class="nav">
                    <div class="nav__hamburger">
                        <svg>
              <use xlink:href="./images/sprite.svg#icon-menu"></use>
            </svg>
                    </div>

                    

                    <div class="nav__menu">
                        <div class="menu__top">
                            <span class="nav__category">PHONE</span>
                            <a href="#" class="close__toggle">
                                <svg>
                  <use xlink:href="./images/sprite.svg#icon-cross"></use>
                </svg>
                            </a>
                        </div>
                        <ul class="nav__list">
                            <li class="nav__item">
                                 <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                            </li>
                            
                             <li class="nav__item">
                                 <a class="nav-link active" aria-current="page" th:href="@{/Constitution Making Process}">Constitution Making Process</a>
                            </li>
                            
                            
                             
                        </ul>
                    </div>

                    <div class="nav__icons">
                        <a href="#" class="icon__item">
                            <svg class="icon__user">
                <use xlink:href="./images/sprite.svg#icon-user"></use>
              </svg>
                        </a>

                        <a href="#" class="icon__item">
                            <svg class="icon__search">
                <use xlink:href="./images/sprite.svg#icon-search"></use>
              </svg>
                        </a>

                       
                    </div>
                </nav>
            </div>
        </div>

        
                

               
    </header>
    <!-- End Header -->

     <main id="main">
    <div class="container">
      <!-- Collection -->
   
 <section>
 
  <img th:src="@{/images/con1.jfif}" class="img-thumbnail" alt="..."><br>
  <b> 
  <p>First Session of the Constituent Assembly
13th December 1946 - 22nd January 1947</p></b>
 </section>    
     <section id="collection" class="section collection">
  
 <p>
 The Constitution of India came into force on 26th January, 1950. At the time of its adoption, the Constitution contained 395 Articles and 8 Schedules and was about 145,000 words long, making it the longest national Constitution to ever be adopted. Every Article in the Constitution was debated by the members of the Constituent Assembly, who sat for 11 sessions and 167 days to frame the Constitution, over a period of 2 years and 11 months.</p>
 <br><br>
 <p>
 This section contains every Article in the amended Constitution of India (as of 2020), with its corresponding Article in the Draft Constitution of India, 1948. Each Article also contains a summary of the debates on that Article in the Constituent Assembly. The Articles are grouped into 22 different parts, which reflects how they are organized in the text of the Constitution of India, 1950
  </p>
 <br><br> 
 <p>
 
 The Schedules to the Constitution, which are now 12 in number, elaborate on government policy or rules in relation to specific Articles of the Constitution. Each Schedule in this section is tagged with the corresponding Article(s) for ease of understanding.

 </p> 
 
 
 
 
 
 
 
 
 
 
 
 
    </section>   
  
 

                               
                       
            
 
        
        
    </main>

    <!-- End Main -->
 
</body>

</html>