<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Fundamental Right</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

	 
	</div>
	 <ul nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item" bgcolor="dark">
    <a class="nav-link active" aria-current="page" th:href="@{/home1}">Home</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </li>
  
   
</ul>

 
</div>

<h2 align='center'>Fundamental Rights</h2> 
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
         Fundamental Rights Info
      </button>
    </h2>
    <div id="collapseOne" style="color:DodgerBlue;" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
      Fundamental rights in India are the rights guaranteed under Part III (Articles 12-35) of the Constitution of India. <br>
There are six fundamental rights (Article 12 - 35) recognised by the Indian constitution: <br>
The right to equality (Articles 14-18), <br>
The right to freedom (Articles 19-22), <br>
The right against exploitation (Articles 23-24),<br> 
The right to freedom of religion (Articles 25-28), <br>
Cultural and educational rights (Articles 29-30) and <br>
The right to constitutional remedies (Article 32 and 226).
 
       
      </strong>
      
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Fundamental Right-1(the right to equality (Articles 14-18)
      </button>
    </h2>
    <div id="collapseTwo" style="color:blue;" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
        Article 14 to 18 is defined equality of our country's citizens and race, caste, sex, religion, place of birth. ... And each and everything persons has equal right to speech, work, live & any other and equality of opportunity in matters of employment under the state. The right is available to citizens only.
      <br><br>
      <p >Article 14 says that the State shall not deny to any person equality before the law or equal protection of the laws within the territory of India.
      </p>
      
      <br>
      <p>Article 15 says that the state shall not any discriminate against any citizen on ground only of religio, race, caste, sex, place of birth or any of them.</p>
      
      
      <br>
      <p>Article 16 guarantee equality of opportunity in matters of employment under the state. The right is available to citizens only.

In matters of employment also, it is impossible to treat all persons alike. Equality only means equal treatment to equals. A reasonable classification is not prohibited by Article 16.</p>
     <br>
     
     <p>Article 17 deals with a peculiar problem of our country. Howsoever praiseworthy the caste system in its origin might have been, it certainly proved to be a disgrace to humanity, a threat to unity and a serious hindrance to social, educational and economic progress of our country. The treatment gives to schedule caste in India by higher caste Hindus can be comparable to that given to Negroes by white people in America at least upto the middle of the twentieth century, though in the eyes of law schedule castes in India enjoyed slightly better status than Negroes of the United States of America. Gandhi ji and other freedom fighters had realised that equal treatment yo these castes was not only necessary for winning freedom for the nation but also for peace and progress of the country after independence.
     </p>
     <br>
     <p>Article 18 Abolition of titles No title, not being a military or academic distinction, shall be conferred by the State No citizen of India shall accept any title from any foreign State No person who is not a citizen of India shall, while he holds any office of profit or trust under the State, accept without the consent of the President any title from any foreign State No person holding any office of profit or trust under the State shall, without the consent of the President, accept any present, emolument, or office of any kind from or under any foreign State Right to Freedom.
     </p>
      </strong>
      
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Fundamental Right-2(The right to freedom (Articles 19-22)
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" style="color:Tomato;" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
<p>
     What is the right to freedom?
<br>
The right to freedom guarantees citizens, among other things, the freedom to live in dignity. They are regulated in Articles 19, 20, 21A and 22 of the Indian Constitution.

In this section we will go through each article.

The aim of the basic rights of Indians was to overcome inequalities in the pre-independence social system. Basic rights are essential for the development of the personality of each person and for the maintenance of human dignity.
     </p>
     
     Article 19: Protection of 6 rights based on freedom:<br>

1. Language and appearance<br>

2. Assembly<br>

3. Association<br>

4. Protest<br>

5. Accommodation<br><br>

 Article 20: 

Protection related to criminal penalties<br><br>

 Article 21:

Right to life and individual freedom<br><br>

 Article 21(A):

The right to basic education<br><br>

 Article 22

Protection from arrest and imprisonment in some cases<br>
      </strong>
      
     
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Fundamental Right-3(The right against exploitation (Articles 23-24))
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" style="color:MediumSeaGreen;" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
        
        <p>The Right against exploitation enshrined in Article 23 and 24 of the Indian Constitution guarantees human dignity and protect people from any such exploitation. Thus, upholding the principles of human dignity and liberty upon which the Indian Constitution is based.</p>
        
        <p>
  
 
Article-23:Traffic in human beings and the beggar and other similar forms of forced labour are prohibited and any contravention of this provision shall be an offence punishable in accordance with the law.
</p> 
<p>
Article 23(2): Nothing in this article shall prevent the State from imposing compulsory service for public purposes, and in imposing such service the State shall not make any discrimination on grounds only of religion, race, caste or class or any of them.</p>

<p>Article 24 says that “No child below the age of fourteen years shall be employed to work in any factory or mine or engaged in any other hazardous employment.”</p>
</strong>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Fundamental Right-4(The right to freedom of religion (Articles 25-28))
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" style="color:DodgerBlue;" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
        
        <p>The Preamble of the Indian Constitution has the word "secular", and articles 25 to 28 implying that the State will not discriminate, patronise or meddle in the profession of any religion. However, it shields individual religions or groups by adding religious rights as fundamental rights.</p>

        
        <p>
  
 
 Article 25 (Freedom of conscience and free profession, practice, and propagation of religion)
Article 25 guarantees the freedom of conscience, the freedom to profess, practice, and propagate religion to all citizens.

The above-mentioned freedoms are subject to public order, health, and morality.
This article also gives a provision that the State can make laws:
That regulates and restricts any financial, economic, political, or other secular activity associated with any religious practice.
That provides for the social welfare and reform or opening up of Hindu religious institutions of a public character to all sections and classes of Hindus. Under this provision, Hindus are construed as including the people professing the Sikh, Jain, or Buddhist religions, and Hindu institutions shall also be construed accordingly.
People of the Sikh faith wearing & carrying the kirpan shall be considered as included in the profession of the Sikh religion.
</p> 
<p>
 Article 26 (Freedom to manage religious affairs)<br>
This Article provides that every religious denomination has the following rights, subject to morality, health, and public order.

The right to form and maintain institutions for religious and charitable intents.
The right to manage its own affairs in the matter of religion.
The right to acquire the immovable and movable property.
The right to administer such property according to the law.

<p> 
Article 27 (Freedom as to payment of taxes for promotion of any particular religion)<br>
According to Article 27 of the Constitution, there can be no taxes, the proceeds of which are directly used for the promotion and/or maintenance of any particular religion/religious denomination.

</p>
<p>
Article 28 (Freedom as to attendance at religious instruction or religious worship in certain educational institutions)<br>
This article permits educational institutions that are maintained by religious groups to disseminate religious instruction.

This provides that no religious instruction shall be provided in State-run educational institutions.
Educational institutions administered by the State but that were established under any endowment or trust which requires that religious instruction shall be imparted in such institutions are exempt from the above clause (that no religious instruction shall be provided).
Any person who attends any educational institution recognized by the State or receiving State aid shall not be required to participate in any religious instruction that may be imparted in such institution, or also attend any religious worship in such institutions unless he/she has given consent for the same. In the case of minors, the guardians should have given consent for the same.
</p>
</strong>
      </div>
    </div>
  </div>
</div>
 

<div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Fundamental Right-5(Cultural and educational rights (Articles 29-30))
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" style="color:DeepPink;" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
        
        <p> 
        Cultural and Educational Rights safeguards the rights of linguistic, cultural, and religious minorities. Preserving culture and heritage is vital in this scenario. To ensure that education is provided for everyone without any kind of discrimination, Education Rights was formulated. In this article, you can read all about Article 29 and Article 30 of the Indian Constitution.
        </p>
        
        <p>
  
 
 Article 29 – Protection of Interests of Minorities
This article is intended to protect the interests of minority groups.

Article 29(1): This provides all citizen groups that reside in India having a distinct culture, language, and script, the right to conserve their culture and language. This right is absolute and there are no ‘reasonable restrictions’ in the interest of the general public here.

Article 29(2): The State shall not deny admission into educational institutes maintained by it or those that receive aids from it to any person based on race, religion, caste, language, etc. This right is given to individuals and not any community. 
</p> 
<p>
Article 30 – Right of Minorities to Establish and Administer Educational Institutions
This right is given to minorities to form and govern their own educational institutions. Article 30 is also called the “Charter of Education Rights”.
<br>
Article 30(1): All religious and linguistic minorities have the right to establish and administer educational institutions of their choice. (Read about Minority Protection in India in the linked article.
<br>
Article 30(2): The State should not, when granting aid to educational institutions, discriminate against any educational institution on the ground that it is under the management of a minority, whether based on religion or language.

Visit the given link for an overview of the Constitution of India.

<p>Article 24 says that “No child below the age of fourteen years shall be employed to work in any factory or mine or engaged in any other hazardous employment.”</p>
</strong>
      </div>
    </div>
  </div>
</div>
 
<div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Fundamental Right-6(The right to constitutional remedies (Article 32 and 226))
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" style="color:MediumPurple;" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
        
        <p> 
         Article 32 empowers the Supreme Court to issue writ all over India. Therefore, the Supreme Court has broader territorial jurisdiction. Article 226 empowers the High Court to issue a writ in its own local jurisdiction only. Therefore, High Courts have narrower territorial jurisdiction as compared to the Supreme Court.
        </p>
        
        <p>
  
 Article 32 is the “soul of the Constitution and the very heart of it”.
 
</p> 
<p> 
 Article 32 is known as the “spirit of the constitution and exceptionally heart of it” by Dr. Ambedkar. Preeminent Court has included it in fundamental structure regulation. Further, it is clarified that privilege to move to Supreme Court can’t be suspended with the exception of generally given by the Constitution. This suggests this privilege suspended amid a national crisis under article 359.<br>
<br>
Article 32 makes the Supreme Court the safeguard and underwriter of the major rights. Further, the capacity to issue writs goes under the original jurisdiction of the Apex Court. This implies an individual may approach SC straightforwardly for a cure as opposed to by appeal.<br>
<br>

Article 32 can be used only to get a remedy for fundamental rights enshrined in Article 12-35. It isn’t there for some other legal right for which diverse laws are accessible.
</p>
<p>
Article 226, empowers the high courts to issue, to any person or authority, including the government (in appropriate cases), directions, orders or writs, including writs in the nature of habeas corpus, mandamus, prohibition, quo warranto, certiorari or any of them.
</strong>
      </div>
    </div>
  </div>
</div>
 
 
</body>
</html>