<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Article-1</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

	 
	</div>
	 <ul nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item" bgcolor="dark">
    <a class="nav-link active" aria-current="page" th:href="@{/Official Language}">Home</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </li>
  
   
</ul>

 
 <h4>Language to be used in the Supreme Court and in the High Courts and for Acts, Bills, etc.</h4>
 <P>
 (1) Notwithstanding anything in the foregoing provisions of this Part, until Parliament by law otherwise provides —
<br>
 

(a) all proceedings in the Supreme Court and in every High Court,

 <br>

(b) the authoritative texts —
<br>
 

(i) of all Bills to be introduced or amendments thereto to be moved in either House of Parliament or in the House or either House of the Legislature of a State,
<br>
 

(ii) of all Acts passed by Parliament or the Legislature of a State and of all Ordinances promulgated by the President or the Governor of a State, and

 <br>

(iii) of all orders, rules, regulations and bye-laws issued under this Constitution or under any law made by Parliament or the Legislature of a State,
<br>
 

shall be in the English language.

 </P>
 
 <p>

(2) Notwithstanding anything in sub-clause (a) of clause (1), the Governor of a State may, with the previous consent of the President, authorise the use of the Hindi language, or any other language used for any official purposes of the State, in proceedings in the High Court having its principal seat in that State: Provided that nothing in this clause shall apply to any judgment, decree or order passed or made by such High Court.
</p>
 
<P>
(3) Notwithstanding anything in sub-clause (b) of clause (1), where the Legislature of a State has prescribed any language other than the English language for use in Bills introduced in, or Acts passed by, the Legislature of the State or in Ordinances promulgated by the Governor of the State or in any order, rule, regulation or bye-law referred to in paragraph (iii) of that sub-clause, a translation of the same in the English language published under the authority of the Governor of the State in the Official Gazette of that State shall be deemed to be the authoritative text thereof in the English language under this article.
</P>
 
 
</body>
</html>