<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>PREAMBLE TO THE CONSTITUTION OF INDIA</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

	 
	</div>
	 <ul nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item" bgcolor="dark">
    <a class="nav-link active" aria-current="page" th:href="@{/home1}">Home</a>
  </li>
   
  <li class="nav-item">
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </li>
  
   
</ul>

 
</div>


 <table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">PREAMBLE TO THE CONSTITUTION OF INDIA</th>
      <th scope="col">File</th>
      
    </tr>
  </thead>
  <tbody>
    
    <tr>
     
      <td>Preamble to the Constitution of India in Urdu</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Urdu.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">URDU.pdf</a></span>           </td>    
    </tr>
    
     <tr>
     
      <td>Preamble to the Constitution of India in Telugu</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Telugu.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">TELUGU.pdf</a></span>           </td>    
    </tr>
     <tr>
     
      <td>Preamble to the Constitution of India in Tamil</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Tamil.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">TAMIL.pdf</a></span>           </td>    
    </tr>
    
     <tr>
      <td>Preamble to the Constitution of India in Sanskrit</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Sanskrit.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">SANSKRIT.pdf</a></span>           </td>    
    </tr>
    
    <tr>
      <td>Preamble to the Constitution of India in Odia</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Odia.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Odia.pdf</a></span>           </td>    
    </tr>
    
    <tr>
      <td>Preamble to the Constitution of India in Marathi</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Marathi.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Marathi.pdf</a></span>           </td>    
    </tr>
    
    <tr>
      <td>Preamble to the Constitution of India in Punjabi</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Punjabi.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Punjabi.pdf</a></span>           </td>    
    </tr>
    
     <tr>
      <td>Preamble to the Constitution of India in Sindhi</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Sindhi.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Sindhi.pdf</a></span>           </td>    
    </tr>

 <tr>
      <td>Preamble to the Constitution of India in Manipuri</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Manipuri.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Manipuri.pdf</a></span>           </td>    
    </tr>
     
 <tr>
      <td>Preamble to the Constitution of India in Malayalam</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Malayalam.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Malayalam.pdf</a></span>           </td>    
    </tr>
    
    <tr>
      <td>Preamble to the Constitution of India in Kannada</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Kannada.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Kannada.pdf</a></span>           </td>    
    </tr>
    <tr>
      <td>Preamble to the Constitution of India in Hindi</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Hindi.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Hindi.pdf</a></span>           </td>    
    </tr>
    <tr>
      <td>Preamble to the Constitution of India in Gujarati</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Gujarati.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Gujarati.pdf</a></span>           </td>    
    </tr>
    
    <tr>
      <td>Preamble to the Constitution of India in English</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/English.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">English.pdf</a></span>           </td>    
    </tr>
    
    <tr>
      <td>Preamble to the Constitution of India in Bengali</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Bengali.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Bengali.pdf</a></span>           </td>    
    </tr>
    
    <tr>
      <td>Preamble to the Constitution of India in Assamese</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Assamese.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Assamese.pdf</a></span>           </td>    
    </tr>
    
    <tr>
      <td>Preamble to the Constitution of India in Konkani</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Konkani.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Konkani.pdf</a></span>           </td>    
    </tr> 
    
      <tr>
      <td>Preamble to the Constitution of India in Sindhi</td>
        <td class="views-field views-field-nothing" >             <span class="file"><img class="file-icon" alt="PDF icon" title="application/pdf" th:src="@{/images/pdf.png}" width="25" /> <a href="https://legislative.gov.in/sites/default/files/Sindhi.pdf" type="application/pdf; length=2712149" target="_BLANK" title="The pdf file Open in new window">Sindhi.pdf</a></span>           </td>    
    </tr>
  </tbody>
</table>
</body>
</html>